<form action="/course/store" method="POST">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input type="text" class="form-control" name="name" required>
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">description</label>
        <input type="text" class="form-control" name="description" required>
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">level</label>
        <input type="text" class="form-control" name="level" required>
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">videoId</label>
        <input type="text" class="form-control" name="videoId" required>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>