<form method="POST" action="/search">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Từ khóa</label>
        <input type="text" name="q" class="form-control" placeholder="Nhập từ khóa" />
    </div>
    <div class="mb-3">
        <select name="gender" id="">
            <option value="1">Nam</option>
            <option value="0">Nữ</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>